<style>
  #main {
    overflow: hidden;
  }

  #title {
    font-weight: 500;
    color: #fdfdfd;
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  #configurator-btn {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    padding-bottom: 0.75rem;
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.08);
  }

  #configurator-btn:hover {
    color: rgba(2, 129, 255, 0.9);
    background-color: rgba(2, 129, 255, 0.16);
    box-shadow: rgba(2, 129, 255, 0.12) 0px 0px 2px 6px;
  }

  #configurator-btn:active {
    color: rgba(2, 129, 255, 1);
  }
</style>

<main
  id="main"
  class="flex flex-column align-center justify-even w-full flex-1"
>
  <div class="flex flex-column w-full align-center">
    <h1 id="title" class="text-center">Let's speak</h1>

    <div
      id="main-btn-group"
      class="flex align-center w-full justify-center"
      style="gap: 1rem"
    >
      {% include 'components/main/mute-btn.html' %}
      <!-- -->
      {% include 'components/main/play-btn.html' %}
      <!-- -->
      {% include 'components/main/stop-btn.html' %}
    </div>
  </div>

  {% include 'components/main/text.html' %}

  <button id="configurator-btn" class="glassy btn dense">
    {% include 'icons/setting.svg' %}
  </button>
</main>

<script>
  (() => {
    const title = document.getElementById("title");
    const playBtn = document.getElementById("play-btn");
    const stopBtn = document.getElementById("stop-btn");
    const configuratorBtn = document.getElementById("configurator-btn");
    const configurator = document.getElementById("configurator");

    const playBtnStates = [
      "waiting",
      "connecting",
      "playing",
      "paused",
      "stopping",
    ];

    const changePlayBtnState = (state) => {
      playBtn.classList.remove(...playBtnStates);
      playBtn.classList.add(state);

      if (state === "paused") stopBtn.classList.remove("disabled");
      else stopBtn.classList.add("disabled");
    };

    playBtn.addEventListener("click", () =>
      state.isWaiting || state.isPaused ? state.play() : state.pause(),
    );

    stopBtn.addEventListener("click", () => state.stop());

    configuratorBtn.addEventListener("click", () =>
      configurator.dispatchEvent(new Event("open")),
    );

    state.addEventListener("titleChanged", () => {
      title.textContent = state.title;
    });

    state.addEventListener("stateChanged", () =>
      changePlayBtnState(playBtnStates[state.state]),
    );
  })();
</script>
