<style>
  #text {
    width: 80%;
    max-width: 60rem;
    overflow: hidden;
  }

  #text .text {
    font-size: 2.5rem;
    font-weight: 600;
    color: transparent;
    overflow: hidden;
    background: rgba(255, 255, 255, 1);
    width: 80%;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(255, 255, 255, 0.9) 100%
    );
    background-clip: text;
    white-space: nowrap;
  }

  #text .fullsentence {
    width: 100%;
    border-radius: 2rem;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    background-color: rgba(255, 255, 255, 0.7);
  }

  #text .fullsentence h2 {
    font-weight: 500;
  }

  #text .convo {
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  #text .convo span[role="placeholder"] {
    display: block;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
  }
</style>

<div id="text" class="flex flex-column align-center">
  <div id="original-text" class="text" data-kind="original">
    Original text will be lived here
  </div>

  <div class="fullsentence flex glassy">
    <div class="flex-1 flex flex-column">
      <h2 class="text-center">Original Conversation</h2>

      <div id="original-conversation" class="flex-1 convo">
        <span role="placeholder">
          Detected sentences from the original conversation will appear
          here.</span
        >
      </div>
    </div>

    <div class="flex-1 flex flex-column">
      <h2 class="text-center">Translated Conversation</h2>

      <div id="translated-conversation" class="flex-1 convo">
        <span role="placeholder">Translated sentences will appear here.</span>
      </div>
    </div>
  </div>
</div>

<script>
  (() => {
    const LIVE_PLACEHOLDER = "Original text will be lived here.";
    const ORIGINAL_PLACEHOLDER =
      "Detected sentences from the original conversation will appear here.";
    const TRANSLATED_PLACEHOLDER = "Translated sentences will appear here.";

    const liveText = document.getElementById("original-text");
    const originalConversation = document.getElementById(
      "original-conversation",
    );
    const translatedConversation = document.getElementById(
      "translated-conversation",
    );

    state.addEventListener(
      "liveTextChanged",
      () => (liveText.textContent = state.liveText),
    );

    state.addEventListener(
        "originalTextChanged",
        () => (originalConversation.textContent = state.originalText || ORIGINAL_PLACEHOLDER),
    );

    state.addEventListener(
      "translatedTextChanged",
      () =>
        (translatedConversation.textContent =
          state.translatedText || TRANSLATED_PLACEHOLDER),
    );
  })();
</script>
