<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Real-time Speech Translation</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/utils.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <script>
      function hexToRgb(hex) {
        var c;
        if (/^#([A-Fa-f0-9]{3}){1,2}$/.test(hex)) {
          c = hex.substring(1).split("");
          if (c.length == 3) {
            c = [c[0], c[0], c[1], c[1], c[2], c[2]];
          }
          c = "0x" + c.join("");
          return [(c >> 16) & 255, (c >> 8) & 255, c & 255];
        }
        throw new Error("Bad Hex");
      }
    </script>
    <script src="{{ url_for('static', filename='js/transcribe.js') }}"></script>
    <script src="{{ url_for('static', filename='js/audio-devices.js') }}"></script>
    <script src="{{ url_for('static', filename='js/stt-model-manager.js') }}"></script>
    <script src="{{ url_for('static', filename='js/websocket-handler.js') }}"></script>
    <script src="{{ url_for('static', filename='js/audio-recorder.js') }}"></script>
    <script src="{{ url_for('static', filename='js/session-manager.js') }}"></script>
    <script src="{{ url_for('static', filename='js/state.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </head>

  <body class="flex flex-column">
    {% include 'components/notification.html' %}
    <!-- -->
    {% include 'components/configurator/dialog.html' %}
    <!-- -->
    {% include 'components/main/index.html' %}
    <!-- -->
    <footer
      class="w-full"
      style="
        color: grey;
        font-size: 0.5rem;
        margin-bottom: 0.2rem;
        margin-right: 0.5rem;
        text-align: right;
      "
    >
      New UI cooked by
      <a href="//github.com/hbinhng" style="color: grey">hbinhng</a>.
    </footer>
  </body>
</html>
